header{
    display: flex;
    flex-wrap: wrap;
}
nav{
    display: flex;
    flex-wrap: wrap;
    float: inline-start;
}
ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    display: flex;
}
ul li{
    padding: 10px;
}
img {
    width: 400px;
    height: 400px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex h2{
    margin: 15px;
}
h6{
    font-weight: bold;
}
section h4{
    padding-left: 50px;
    margin: 5px;
    flex: 40%;
}
section p{
    padding-left: 70px;
    margin: 10px;
    flex: 40%;
}